<!DOCTYPE html> 
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]--> 
<html class="no-js" lang="en" > 
<head> 
	<meta charset="utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<title><%=@title%></title> 
	<%= css :application %>
	<%= js :application %> 
</head> 
<body> 
	
	
	<%=  erb :header %> <!-- Header / logged-in -->

	<div id="content">
		<%= yield %>
	</div>


	<%= erb :footer %>

    <%= js :body %>
	<script> $(document).foundation(); </script> 
</body> 
</html>