<% def convertJsonDate(jsonDate) %>

<% Time.at((jsonDate.gsub(/\D/, "").to_i - 200) /10000000).strftime("%F") %>
<% end %>


<h1>This is going to be the Search Page!</h1>
<% getresult=find("keytech") %>

<% if @itemarray.empty? %>
  <p>No results:</p>
  <%=@result.code%>
<% else %>

  
    <h2>results </h2>
    <table id="source-list" class="aui">
<thead>
  <tr>
    <th class="elementIcon">Type</th>
    <th class="elementName">Name</th>
    <th class="elementVersion">Version</th>
    <th class="elementDescription">Description</th>
    <th class="elementStatus">Status</th>
    <th class="elementChangedAt">Changed at</th>
    <th class="elementChangedBy">Changed by</th>
  </tr>
</thead>
<tbody>
  <% for i in 0...@itemarray.length-1 do %>
    <tr class="iterateable-item">
      <td class="icon"><div>TBD</div></td> <!--ICON : To Be Done -->
      <td class="name"><div><%=@itemarray[i]["ElementName"] %></div> </td>
      <td class="version"><div><%=@itemarray[i]["ElementVersion"] %></div> </td>
      <td class="description"><div><%=@itemarray[i]["ElementDisplayName"] %></div> </td>
      <td class="status"><div><%=@itemarray[i]["ElementStatus"] %></div> </td>
      <td class=" "><div><%= convertJsonDate(@itemarray[i]["ChangedAt"]) %></div> </td>
      <td class="changedbylong"><div><%=@itemarray[i]["ChangedByLong"] %></div> </td> 
    </tr>
  <% end %>
</tbody>
</table>

     

<%end%>

