<div>
  <form action="/search" method="get" accept-charset="utf-8">
   <label for="q">Search for:</label>
    <input id="q" type="text" name="q" />
    <input name = "commit" type="submit" value="Search">
  </form>
</div>

<% if !@result.empty? %>

    <table id="source-list" class="aui">
   <thead>
  <tr>
    <th class="elementIcon">Type</th>
    <th class="elementName">Name</th>
    <th class="elementVersion">Version</th>
    <th class="elementDescription">Description</th>
    <th class="elementStatus">Status</th>
    <th class="elementChangedAt">Changed at</th>
    <th class="elementChangedBy">Changed by</th>
    <th class="elementDownloadIcon">Icon</th>
  </tr>
</thead>
<tbody>
  <% for i in 0...@result.length do %>
    <tr class="iterateable-item">
      
      <td class="icon"><div>
        <%= classImage(@result[i]["ElementKey"]) %> 
      </div></td>

      <td class="name">  <div><%=  link_to("/search/#{@result[i]['ElementKey']}", @result[i]["ElementName"]) %></div> </td>
      <td class="version"><div><%=@result[i]["ElementVersion"] %></div> </td>
      <td class="description"><div><%=@result[i]["ElementDisplayName"] %></div> </td>
      <td class="status"><div><%=@result[i]["ElementStatus"] %></div> </td>
      <td class="changedate"><div><%= convertJsonDate(@result[i]["ChangedAt"]) %></div> </td>
      <td class="changedbylong"><div><%=@result[i]["ChangedByLong"] %></div> </td> 

     <td class="downloadicon">  
        <a href='<%= link_to_masterfile(@result[i]["ElementKey"])%> ' class="downloadlink" title="Download main file">
        
       </a> 
     </td>


    </tr>
  <% end %>
</tbody>
</table>
<% end %>


